<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@//192.168.1.205:1521/orcl</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.username">sep3</property>
        <property name="connection.password">GhtnTechby3885580</property>
        <mapping class="com.ghtn.model.oracle.fxyk.Getswinput"/>
        <mapping class="com.ghtn.model.oracle.fxyk.KqRecord"/>
        <mapping class="com.ghtn.model.oracle.fxyk.Person"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>